<div class="container-fluid">
  <h1>銭湯一覧</h1>
  <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' %>
  <div class="row">
  	<% @posts.each do |post| %>
   <div class="col-lg-4">
    <div class = "postbox">
        <h3>投稿者</h3>
     	  <%= link_to user_path(post.user) do %>
     <p><%= attachment_image_tag post.user, :profile_image,size: "30x30", style: "margin: 0 auto;" %></p>
          <h4><%= post.user.name %></h4>
           <% end %>

        <h3>銭湯名♨</h3>
        <h4><%= post.title %></h4>

        <h3>住所♨</h3>
        <h4><%= post.address %></h4 >

    	 <%= attachment_image_tag post, :image,  size: "300x300" %>

       <h4><%= link_to "詳しい銭湯", post_path(post.id) %>
       </h4>
       <%= link_to post_path(post.id) do %>
       <span><%=post.post_comments.count%>コメント💭</span>
       <span><%=post.favorites.count %>イイネ♥</span>
       <span><%= post.impressionist_count %>件の足跡👣</span>
       <% end %>
   </div>
 </div>
  <% end %>
 </div>
</div>

